<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{lista.nombre}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
  <ion-card-header>
    <ion-item>
      <ion-label floating>Nombre de la lista</ion-label>
      <ion-input type="text" [(ngModel)]="lista.nombre"></ion-input>
    </ion-item>
</ion-card-header>

<ion-card-content>
      <ion-item *ngFor="let item of lista.items;let idx:index" (click)="actualizar(item)">

        <ion-icon item-left *ngIf="!item.completado" ios="ios-square-outline" md="md-square-outline"></ion-icon>
        <ion-icon item-left name="checkbox-outline" *ngIf="item.completado"></ion-icon>
        <h2 [class.tachado]="item.completado">{{item.nombre}}</h2>

      </ion-item>

</ion-card-content>
</ion-card>
<br><br>
<button (click)="borrarItem(idx)" ion-button class="button-block" color="dangre">
  borrar lista
</button>

</ion-content >
